.height-60 {
    height: 100px;
  }
  .height-100 {
    height: 100px;
  }
  .bg-yellow {
    background-color: yellow;
  }
  .bg-red {
    background-color: red;
  }
  .bg-green {
    background-color: green;
  }
  .bg-blue {
    background-color: blue;
  }
  
  .bg-melon {
    background-color: #f57a7a;
  }
  .bg-purple {
  
    background-color: purple;
  }
  .bg-orange {
    background-color: orange; 
  }
  .bg-black {
    background-color: black;
  }
  .bg-deeppink {
    background-color: #EC368D;
  }
  .bg-electricblue {
    background-color: #51E5FF;
  }
  .bg-apricot {
    background-color: #FFD6C0;
  }
  .bg-africanviolent {
    background-color: #9F8EC6;
  }
  .bg-darkpurple {
    background-color: #452233;
  }
  .bg-darkblue {
    background-color: #3700B8;
  }
  .bg-plum {
    background-color: #FFB8F8;
  }
  .bg-outerspace {
    background-color: #4B5354;
  }
  .bg-crimson {
    background-color: #D62839;
  }
  .bg-rose-red{
    background-color: #BA324F;
  }
  .bg-columbia-blue{
    background-color: #CCE6F4;
  }
  .bg-lapiz-lazuli{
    background-color: #175676;
  }